.footer {
    width: 100%;
    width: 1024px;
}
.fLists {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.fList {
    list-style: none;
    padding: 0;
}
.fListItem {
    margin-bottom: 10px;
    color: red;
}